<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cs50-final-iOS-app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22D51EA61DF0B84500D1C67A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22D51EBA1DF0B84500D1C67A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22D51EC51DF0B84600D1C67A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
